/* This file has been placed in the public domain. */

/* required to make the slide show run at all */
@import url(s5-core.css);

/* sets basic placement and size of slide components */
@import url(framing.css);

/* styles that make the slides look good */
@import url(pretty.css);

/* div.slide {
    width: 960px;
    heigth: 650px;
    margin: 50%;
    left: -480px;
    top: 0px;
}*/

#splash h1 { display: none; }
body { background: 50% 0% black url("slide-aegir.png") no-repeat; }
#splash img {
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}
