<code><span style="color: #000000">
<span style="color: #0000BB">&lt;?php<br />
<br />
</span><span style="color: #FF8000">/**<br />
&nbsp;*&nbsp;@file<br />
&nbsp;*&nbsp;A&nbsp;basic&nbsp;migration&nbsp;example.<br />
&nbsp;*/<br />
<br />
/**<br />
&nbsp;*&nbsp;To&nbsp;define&nbsp;a&nbsp;migration&nbsp;process&nbsp;from&nbsp;a&nbsp;set&nbsp;of&nbsp;source&nbsp;data&nbsp;to&nbsp;a&nbsp;particular<br />
&nbsp;*&nbsp;kind&nbsp;of&nbsp;Drupal&nbsp;object&nbsp;(for&nbsp;example,&nbsp;a&nbsp;specific&nbsp;node&nbsp;type),&nbsp;you&nbsp;define<br />
&nbsp;*&nbsp;a&nbsp;class&nbsp;derived&nbsp;from&nbsp;Migration.&nbsp;You&nbsp;must&nbsp;define&nbsp;a&nbsp;constructor&nbsp;to&nbsp;initialize<br />
&nbsp;*&nbsp;your&nbsp;migration&nbsp;object.&nbsp;By&nbsp;default,&nbsp;your&nbsp;class&nbsp;name&nbsp;will&nbsp;be&nbsp;the&nbsp;"machine&nbsp;name"<br />
&nbsp;*&nbsp;of&nbsp;the&nbsp;migration,&nbsp;by&nbsp;which&nbsp;you&nbsp;refer&nbsp;to&nbsp;it.&nbsp;Note&nbsp;that&nbsp;the&nbsp;machine&nbsp;name&nbsp;is<br />
&nbsp;*&nbsp;case-sensitive.<br />
&nbsp;*<br />
&nbsp;*&nbsp;In&nbsp;any&nbsp;serious&nbsp;migration&nbsp;project,&nbsp;you&nbsp;will&nbsp;find&nbsp;there&nbsp;are&nbsp;some&nbsp;options<br />
&nbsp;*&nbsp;which&nbsp;are&nbsp;common&nbsp;to&nbsp;the&nbsp;individual&nbsp;migrations&nbsp;you're&nbsp;implementing.&nbsp;You&nbsp;can<br />
&nbsp;*&nbsp;define&nbsp;an&nbsp;abstract&nbsp;intermediate&nbsp;class&nbsp;derived&nbsp;from&nbsp;Migration,&nbsp;then&nbsp;derive&nbsp;your<br />
&nbsp;*&nbsp;individual&nbsp;migrations&nbsp;from&nbsp;that,&nbsp;to&nbsp;share&nbsp;settings,&nbsp;utility&nbsp;functions,&nbsp;etc.<br />
&nbsp;*/<br />
</span><span style="color: #007700">abstract&nbsp;class&nbsp;</span><span style="color: #0000BB">BasicExampleMigration&nbsp;</span><span style="color: #007700">extends&nbsp;</span><span style="color: #0000BB">Migration&nbsp;</span><span style="color: #007700">{<br />
&nbsp;&nbsp;public&nbsp;function&nbsp;</span><span style="color: #0000BB">__construct</span><span style="color: #007700">()&nbsp;{<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;Always&nbsp;call&nbsp;the&nbsp;parent&nbsp;constructor&nbsp;first&nbsp;for&nbsp;basic&nbsp;setup<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">parent</span><span style="color: #007700">::</span><span style="color: #0000BB">__construct</span><span style="color: #007700">();<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;With&nbsp;migrate_ui&nbsp;enabled,&nbsp;migration&nbsp;pages&nbsp;will&nbsp;indicate&nbsp;people&nbsp;involved&nbsp;in<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;the&nbsp;particular&nbsp;migration,&nbsp;with&nbsp;their&nbsp;role&nbsp;and&nbsp;contact&nbsp;info.&nbsp;We&nbsp;default&nbsp;the<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;list&nbsp;in&nbsp;the&nbsp;shared&nbsp;class;&nbsp;it&nbsp;can&nbsp;be&nbsp;overridden&nbsp;for&nbsp;specific&nbsp;migrations.<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">team&nbsp;</span><span style="color: #007700">=&nbsp;array(<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;new&nbsp;</span><span style="color: #0000BB">MigrateTeamMember</span><span style="color: #007700">(</span><span style="color: #DD0000">'Liz&nbsp;Taster'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'ltaster@example.com'</span><span style="color: #007700">,&nbsp;</span><span style="color: #0000BB">t</span><span style="color: #007700">(</span><span style="color: #DD0000">'Product&nbsp;Owner'</span><span style="color: #007700">)),<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;new&nbsp;</span><span style="color: #0000BB">MigrateTeamMember</span><span style="color: #007700">(</span><span style="color: #DD0000">'Larry&nbsp;Brewer'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'lbrewer@example.com'</span><span style="color: #007700">,&nbsp;</span><span style="color: #0000BB">t</span><span style="color: #007700">(</span><span style="color: #DD0000">'Implementor'</span><span style="color: #007700">)),<br />
&nbsp;&nbsp;&nbsp;&nbsp;);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;Individual&nbsp;mappings&nbsp;in&nbsp;a&nbsp;migration&nbsp;can&nbsp;be&nbsp;linked&nbsp;to&nbsp;a&nbsp;ticket&nbsp;or&nbsp;issue<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;in&nbsp;an&nbsp;external&nbsp;tracking&nbsp;system.&nbsp;Define&nbsp;the&nbsp;URL&nbsp;pattern&nbsp;here&nbsp;in&nbsp;the&nbsp;shared<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;class&nbsp;with&nbsp;':id:'&nbsp;representing&nbsp;the&nbsp;position&nbsp;of&nbsp;the&nbsp;issue&nbsp;number,&nbsp;then&nbsp;add<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;-&gt;issueNumber(1234)&nbsp;to&nbsp;a&nbsp;mapping.<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">issuePattern&nbsp;</span><span style="color: #007700">=&nbsp;</span><span style="color: #DD0000">'http://drupal.org/node/:id:'</span><span style="color: #007700">;<br />
&nbsp;&nbsp;}<br />
}<br />
<br />
</span><span style="color: #FF8000">/**<br />
&nbsp;*&nbsp;There&nbsp;are&nbsp;four&nbsp;essential&nbsp;components&nbsp;to&nbsp;set&nbsp;up&nbsp;in&nbsp;your&nbsp;constructor:<br />
&nbsp;*&nbsp;&nbsp;$this-&gt;source&nbsp;-&nbsp;An&nbsp;instance&nbsp;of&nbsp;a&nbsp;class&nbsp;derived&nbsp;from&nbsp;MigrateSource,&nbsp;this<br />
&nbsp;*&nbsp;&nbsp;&nbsp;&nbsp;will&nbsp;feed&nbsp;data&nbsp;to&nbsp;the&nbsp;migration.<br />
&nbsp;*&nbsp;&nbsp;$this-&gt;destination&nbsp;-&nbsp;An&nbsp;instance&nbsp;of&nbsp;a&nbsp;class&nbsp;derived&nbsp;from&nbsp;MigrateDestination,<br />
&nbsp;*&nbsp;&nbsp;&nbsp;&nbsp;this&nbsp;will&nbsp;receive&nbsp;data&nbsp;that&nbsp;originated&nbsp;from&nbsp;the&nbsp;source&nbsp;and&nbsp;has&nbsp;been&nbsp;mapped<br />
&nbsp;*&nbsp;&nbsp;&nbsp;&nbsp;by&nbsp;the&nbsp;Migration&nbsp;class,&nbsp;and&nbsp;create&nbsp;Drupal&nbsp;objects.<br />
&nbsp;*&nbsp;&nbsp;$this-&gt;map&nbsp;-&nbsp;An&nbsp;instance&nbsp;of&nbsp;a&nbsp;class&nbsp;derived&nbsp;from&nbsp;MigrateMap,&nbsp;this&nbsp;will&nbsp;keep<br />
&nbsp;*&nbsp;&nbsp;&nbsp;&nbsp;track&nbsp;of&nbsp;which&nbsp;source&nbsp;items&nbsp;have&nbsp;been&nbsp;imported&nbsp;and&nbsp;what&nbsp;destination&nbsp;objects<br />
&nbsp;*&nbsp;&nbsp;&nbsp;&nbsp;they&nbsp;map&nbsp;to.<br />
&nbsp;*&nbsp;&nbsp;Mappings&nbsp;-&nbsp;Use&nbsp;$this-&gt;addFieldMapping&nbsp;to&nbsp;tell&nbsp;the&nbsp;Migration&nbsp;class&nbsp;what&nbsp;source<br />
&nbsp;*&nbsp;&nbsp;&nbsp;&nbsp;fields&nbsp;correspond&nbsp;to&nbsp;what&nbsp;destination&nbsp;fields,&nbsp;and&nbsp;additional&nbsp;information<br />
&nbsp;*&nbsp;&nbsp;&nbsp;&nbsp;associated&nbsp;with&nbsp;the&nbsp;mappings.<br />
&nbsp;*/<br />
</span><span style="color: #007700">class&nbsp;</span><span style="color: #0000BB">BeerTermMigration&nbsp;</span><span style="color: #007700">extends&nbsp;</span><span style="color: #0000BB">BasicExampleMigration&nbsp;</span><span style="color: #007700">{<br />
&nbsp;&nbsp;public&nbsp;function&nbsp;</span><span style="color: #0000BB">__construct</span><span style="color: #007700">()&nbsp;{<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">parent</span><span style="color: #007700">::</span><span style="color: #0000BB">__construct</span><span style="color: #007700">();<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;Human-friendly&nbsp;description&nbsp;of&nbsp;your&nbsp;migration&nbsp;process.&nbsp;Be&nbsp;as&nbsp;detailed&nbsp;as&nbsp;you<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;like.<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">description&nbsp;</span><span style="color: #007700">=&nbsp;</span><span style="color: #0000BB">t</span><span style="color: #007700">(</span><span style="color: #DD0000">'Migrate&nbsp;styles&nbsp;from&nbsp;the&nbsp;source&nbsp;database&nbsp;to&nbsp;taxonomy&nbsp;terms'</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;Create&nbsp;a&nbsp;map&nbsp;object&nbsp;for&nbsp;tracking&nbsp;the&nbsp;relationships&nbsp;between&nbsp;source&nbsp;rows<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;and&nbsp;their&nbsp;resulting&nbsp;Drupal&nbsp;objects.&nbsp;Usually,&nbsp;you'll&nbsp;use&nbsp;the&nbsp;MigrateSQLMap<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;class,&nbsp;which&nbsp;uses&nbsp;database&nbsp;tables&nbsp;for&nbsp;tracking.&nbsp;Pass&nbsp;the&nbsp;machine&nbsp;name<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;(BeerTerm)&nbsp;of&nbsp;this&nbsp;migration&nbsp;to&nbsp;use&nbsp;in&nbsp;generating&nbsp;map&nbsp;and&nbsp;message&nbsp;tables.<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;And,&nbsp;pass&nbsp;schema&nbsp;definitions&nbsp;for&nbsp;the&nbsp;primary&nbsp;keys&nbsp;of&nbsp;the&nbsp;source&nbsp;and<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;destination&nbsp;-&nbsp;we&nbsp;need&nbsp;to&nbsp;be&nbsp;explicit&nbsp;for&nbsp;our&nbsp;source,&nbsp;but&nbsp;the&nbsp;destination<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;class&nbsp;knows&nbsp;its&nbsp;schema&nbsp;already.<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">map&nbsp;</span><span style="color: #007700">=&nbsp;new&nbsp;</span><span style="color: #0000BB">MigrateSQLMap</span><span style="color: #007700">(</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">machineName</span><span style="color: #007700">,<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;array(<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'style'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;array(</span><span style="color: #DD0000">'type'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'varchar'</span><span style="color: #007700">,<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'length'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #0000BB">255</span><span style="color: #007700">,<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'not&nbsp;null'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #0000BB">TRUE</span><span style="color: #007700">,<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'description'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'Topic&nbsp;ID'</span><span style="color: #007700">,<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;),<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">MigrateDestinationTerm</span><span style="color: #007700">::</span><span style="color: #0000BB">getKeySchema</span><span style="color: #007700">()<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;We&nbsp;are&nbsp;getting&nbsp;data&nbsp;from&nbsp;tables&nbsp;in&nbsp;the&nbsp;Drupal&nbsp;default&nbsp;database&nbsp;-&nbsp;first,<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;set&nbsp;up&nbsp;a&nbsp;query&nbsp;for&nbsp;this&nbsp;data.<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$query&nbsp;</span><span style="color: #007700">=&nbsp;</span><span style="color: #0000BB">db_select</span><span style="color: #007700">(</span><span style="color: #DD0000">'migrate_example_beer_topic'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'met'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">fields</span><span style="color: #007700">(</span><span style="color: #DD0000">'met'</span><span style="color: #007700">,&nbsp;array(</span><span style="color: #DD0000">'style'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'details'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'style_parent'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'region'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'hoppiness'</span><span style="color: #007700">))<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;This&nbsp;sort&nbsp;assures&nbsp;that&nbsp;parents&nbsp;are&nbsp;saved&nbsp;before&nbsp;children.<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">orderBy</span><span style="color: #007700">(</span><span style="color: #DD0000">'style_parent'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'ASC'</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;Create&nbsp;a&nbsp;MigrateSource&nbsp;object,&nbsp;which&nbsp;manages&nbsp;retrieving&nbsp;the&nbsp;input&nbsp;data.<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">source&nbsp;</span><span style="color: #007700">=&nbsp;new&nbsp;</span><span style="color: #0000BB">MigrateSourceSQL</span><span style="color: #007700">(</span><span style="color: #0000BB">$query</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;Set&nbsp;up&nbsp;our&nbsp;destination&nbsp;-&nbsp;terms&nbsp;in&nbsp;the&nbsp;migrate_example_beer_styles&nbsp;vocabulary<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">destination&nbsp;</span><span style="color: #007700">=&nbsp;new&nbsp;</span><span style="color: #0000BB">MigrateDestinationTerm</span><span style="color: #007700">(</span><span style="color: #DD0000">'Migrate&nbsp;Example&nbsp;Beer&nbsp;Styles'</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;Assign&nbsp;mappings&nbsp;TO&nbsp;destination&nbsp;fields&nbsp;FROM&nbsp;source&nbsp;fields.&nbsp;To&nbsp;discover<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;the&nbsp;names&nbsp;used&nbsp;in&nbsp;these&nbsp;calls,&nbsp;use&nbsp;the&nbsp;drush&nbsp;commands<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;drush&nbsp;migrate-fields-destination&nbsp;BeerTerm<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;drush&nbsp;migrate-fields-source&nbsp;BeerTerm<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'name'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'style'</span><span style="color: #007700">);<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'description'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'details'</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;Documenting&nbsp;your&nbsp;mappings&nbsp;makes&nbsp;it&nbsp;easier&nbsp;for&nbsp;the&nbsp;whole&nbsp;team&nbsp;to&nbsp;see<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;exactly&nbsp;what&nbsp;the&nbsp;status&nbsp;is&nbsp;when&nbsp;developing&nbsp;a&nbsp;migration&nbsp;process.<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'parent_name'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'style_parent'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">description</span><span style="color: #007700">(</span><span style="color: #0000BB">t</span><span style="color: #007700">(</span><span style="color: #DD0000">'The&nbsp;incoming&nbsp;style_parent&nbsp;field&nbsp;is&nbsp;the&nbsp;name&nbsp;of&nbsp;the&nbsp;term&nbsp;parent'</span><span style="color: #007700">));<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;Mappings&nbsp;are&nbsp;assigned&nbsp;issue&nbsp;groups,&nbsp;by&nbsp;which&nbsp;they&nbsp;are&nbsp;grouped&nbsp;on&nbsp;the<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;migration&nbsp;info&nbsp;page&nbsp;when&nbsp;the&nbsp;migrate_ui&nbsp;module&nbsp;is&nbsp;enabled.&nbsp;The&nbsp;default<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;is&nbsp;'Done',&nbsp;indicating&nbsp;active&nbsp;mappings&nbsp;which&nbsp;need&nbsp;no&nbsp;attention.&nbsp;A<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;suggested&nbsp;practice&nbsp;is&nbsp;to&nbsp;use&nbsp;groups&nbsp;of:<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;Do&nbsp;Not&nbsp;Migrate&nbsp;(or&nbsp;DNM)&nbsp;to&nbsp;indicate&nbsp;source&nbsp;fields&nbsp;which&nbsp;are&nbsp;not&nbsp;being&nbsp;used,<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;&nbsp;or&nbsp;destination&nbsp;fields&nbsp;not&nbsp;to&nbsp;be&nbsp;populated&nbsp;by&nbsp;migration.<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;Client&nbsp;Issues&nbsp;to&nbsp;indicate&nbsp;input&nbsp;from&nbsp;the&nbsp;client&nbsp;is&nbsp;needed&nbsp;to&nbsp;determine<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;&nbsp;how&nbsp;a&nbsp;given&nbsp;field&nbsp;is&nbsp;to&nbsp;be&nbsp;migrated.<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;Implementor&nbsp;Issues&nbsp;to&nbsp;indicate&nbsp;that&nbsp;the&nbsp;client&nbsp;has&nbsp;provided&nbsp;all&nbsp;the<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;&nbsp;necessary&nbsp;information,&nbsp;and&nbsp;now&nbsp;the&nbsp;implementor&nbsp;needs&nbsp;to&nbsp;complete&nbsp;the&nbsp;work.<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #0000BB">NULL</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'hoppiness'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">description</span><span style="color: #007700">(</span><span style="color: #0000BB">t</span><span style="color: #007700">(</span><span style="color: #DD0000">'This&nbsp;info&nbsp;will&nbsp;not&nbsp;be&nbsp;maintained&nbsp;in&nbsp;Drupal'</span><span style="color: #007700">))<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">issueGroup</span><span style="color: #007700">(</span><span style="color: #0000BB">t</span><span style="color: #007700">(</span><span style="color: #DD0000">'DNM'</span><span style="color: #007700">));<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;Open&nbsp;mapping&nbsp;issues&nbsp;can&nbsp;be&nbsp;assigned&nbsp;priorities&nbsp;(the&nbsp;default&nbsp;is<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;MigrateFieldMapping::ISSUE_PRIORITY_OK).&nbsp;If&nbsp;you're&nbsp;using&nbsp;an&nbsp;issue<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;tracking&nbsp;system,&nbsp;and&nbsp;have&nbsp;defined&nbsp;issuePattern&nbsp;(see&nbsp;BasicExampleMigration<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;above),&nbsp;you&nbsp;can&nbsp;specify&nbsp;a&nbsp;ticket/issue&nbsp;number&nbsp;in&nbsp;the&nbsp;system&nbsp;on&nbsp;the<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;mapping&nbsp;and&nbsp;migrate_ui&nbsp;will&nbsp;link&nbsp;directory&nbsp;to&nbsp;it.<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #0000BB">NULL</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'region'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">description</span><span style="color: #007700">(</span><span style="color: #DD0000">'Will&nbsp;a&nbsp;field&nbsp;be&nbsp;added&nbsp;to&nbsp;the&nbsp;vocabulary&nbsp;for&nbsp;this?'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">issueGroup</span><span style="color: #007700">(</span><span style="color: #0000BB">t</span><span style="color: #007700">(</span><span style="color: #DD0000">'Client&nbsp;Issues'</span><span style="color: #007700">))<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">issuePriority</span><span style="color: #007700">(</span><span style="color: #0000BB">MigrateFieldMapping</span><span style="color: #007700">::</span><span style="color: #0000BB">ISSUE_PRIORITY_MEDIUM</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">issueNumber</span><span style="color: #007700">(</span><span style="color: #0000BB">770064</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;It&nbsp;is&nbsp;good&nbsp;practice&nbsp;to&nbsp;account&nbsp;for&nbsp;all&nbsp;source&nbsp;and&nbsp;destination&nbsp;fields<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;explicitly&nbsp;-&nbsp;this&nbsp;makes&nbsp;sure&nbsp;that&nbsp;everyone&nbsp;understands&nbsp;exactly&nbsp;what&nbsp;is<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;being&nbsp;migrated&nbsp;and&nbsp;what&nbsp;is&nbsp;not.&nbsp;Also,&nbsp;migrate_ui&nbsp;highlights&nbsp;unmapped<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;fields,&nbsp;or&nbsp;mappings&nbsp;involving&nbsp;fields&nbsp;not&nbsp;in&nbsp;the&nbsp;source&nbsp;and&nbsp;destination,<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;so&nbsp;if&nbsp;(for&nbsp;example)&nbsp;a&nbsp;new&nbsp;field&nbsp;is&nbsp;added&nbsp;to&nbsp;the&nbsp;destination&nbsp;field&nbsp;it's<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;immediately&nbsp;visible,&nbsp;and&nbsp;you&nbsp;can&nbsp;find&nbsp;out&nbsp;if&nbsp;anything&nbsp;needs&nbsp;to&nbsp;be<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;migrated&nbsp;into&nbsp;it.<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'format'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">issueGroup</span><span style="color: #007700">(</span><span style="color: #0000BB">t</span><span style="color: #007700">(</span><span style="color: #DD0000">'DNM'</span><span style="color: #007700">));<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'weight'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">issueGroup</span><span style="color: #007700">(</span><span style="color: #0000BB">t</span><span style="color: #007700">(</span><span style="color: #DD0000">'DNM'</span><span style="color: #007700">));<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'parent'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">issueGroup</span><span style="color: #007700">(</span><span style="color: #0000BB">t</span><span style="color: #007700">(</span><span style="color: #DD0000">'DNM'</span><span style="color: #007700">));<br />
&nbsp;&nbsp;}<br />
}<br />
<br />
</span><span style="color: #FF8000">/**<br />
&nbsp;*&nbsp;And&nbsp;that's&nbsp;it&nbsp;for&nbsp;the&nbsp;BeerTerm&nbsp;migration!&nbsp;For&nbsp;a&nbsp;simple&nbsp;migration,&nbsp;all&nbsp;you<br />
&nbsp;*&nbsp;have&nbsp;to&nbsp;do&nbsp;is&nbsp;define&nbsp;the&nbsp;source,&nbsp;the&nbsp;destination,&nbsp;and&nbsp;mappings&nbsp;between&nbsp;the<br />
&nbsp;*&nbsp;two&nbsp;-&nbsp;to&nbsp;import&nbsp;the&nbsp;data&nbsp;you&nbsp;simply&nbsp;do:<br />
&nbsp;*&nbsp;drush&nbsp;migrate-import&nbsp;BeerTerm<br />
&nbsp;*<br />
&nbsp;*&nbsp;However,&nbsp;in&nbsp;real-world&nbsp;migrations&nbsp;not&nbsp;everything&nbsp;can&nbsp;be&nbsp;represented&nbsp;simply<br />
&nbsp;*&nbsp;through&nbsp;static&nbsp;mappings&nbsp;-&nbsp;you&nbsp;will&nbsp;frequently&nbsp;need&nbsp;to&nbsp;do&nbsp;some&nbsp;run-time<br />
&nbsp;*&nbsp;transformations&nbsp;of&nbsp;the&nbsp;data.<br />
&nbsp;*/<br />
</span><span style="color: #007700">class&nbsp;</span><span style="color: #0000BB">BeerUserMigration&nbsp;</span><span style="color: #007700">extends&nbsp;</span><span style="color: #0000BB">BasicExampleMigration&nbsp;</span><span style="color: #007700">{<br />
&nbsp;&nbsp;public&nbsp;function&nbsp;</span><span style="color: #0000BB">__construct</span><span style="color: #007700">()&nbsp;{<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;The&nbsp;basic&nbsp;setup&nbsp;is&nbsp;similar&nbsp;to&nbsp;BeerTermMigraiton<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">parent</span><span style="color: #007700">::</span><span style="color: #0000BB">__construct</span><span style="color: #007700">();<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">description&nbsp;</span><span style="color: #007700">=&nbsp;</span><span style="color: #0000BB">t</span><span style="color: #007700">(</span><span style="color: #DD0000">'Beer&nbsp;Drinkers&nbsp;of&nbsp;the&nbsp;world'</span><span style="color: #007700">);<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">map&nbsp;</span><span style="color: #007700">=&nbsp;new&nbsp;</span><span style="color: #0000BB">MigrateSQLMap</span><span style="color: #007700">(</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">machineName</span><span style="color: #007700">,<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;array(</span><span style="color: #DD0000">'aid'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;array(<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'type'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'int'</span><span style="color: #007700">,<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'not&nbsp;null'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #0000BB">TRUE</span><span style="color: #007700">,<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'description'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'Account&nbsp;ID.'<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;),<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">MigrateDestinationUser</span><span style="color: #007700">::</span><span style="color: #0000BB">getKeySchema</span><span style="color: #007700">()<br />
&nbsp;&nbsp;&nbsp;&nbsp;);<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$query&nbsp;</span><span style="color: #007700">=&nbsp;</span><span style="color: #0000BB">db_select</span><span style="color: #007700">(</span><span style="color: #DD0000">'migrate_example_beer_account'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'mea'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">fields</span><span style="color: #007700">(</span><span style="color: #DD0000">'mea'</span><span style="color: #007700">,&nbsp;array(</span><span style="color: #DD0000">'aid'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'status'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'posted'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'name'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'nickname'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'password'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'mail'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'sex'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'beers'</span><span style="color: #007700">));<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">source&nbsp;</span><span style="color: #007700">=&nbsp;new&nbsp;</span><span style="color: #0000BB">MigrateSourceSQL</span><span style="color: #007700">(</span><span style="color: #0000BB">$query</span><span style="color: #007700">);<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">destination&nbsp;</span><span style="color: #007700">=&nbsp;new&nbsp;</span><span style="color: #0000BB">MigrateDestinationUser</span><span style="color: #007700">();<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;One&nbsp;good&nbsp;way&nbsp;to&nbsp;organize&nbsp;your&nbsp;mappings&nbsp;is&nbsp;in&nbsp;three&nbsp;groups&nbsp;-&nbsp;mapped&nbsp;fields,<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;unmapped&nbsp;source&nbsp;fields,&nbsp;and&nbsp;unmapped&nbsp;destination&nbsp;fields<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;Mapped&nbsp;fields<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;This&nbsp;is&nbsp;a&nbsp;shortcut&nbsp;you&nbsp;can&nbsp;use&nbsp;when&nbsp;the&nbsp;source&nbsp;and&nbsp;destination&nbsp;fields&nbsp;are<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;identical<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addSimpleMappings</span><span style="color: #007700">(array(</span><span style="color: #DD0000">'status'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'mail'</span><span style="color: #007700">));<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;Dedupe&nbsp;assures&nbsp;that&nbsp;value&nbsp;is&nbsp;unique.&nbsp;Use&nbsp;it&nbsp;when&nbsp;source&nbsp;data&nbsp;is&nbsp;non-unique.<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;Pass&nbsp;the&nbsp;Drupal&nbsp;table&nbsp;and&nbsp;column&nbsp;for&nbsp;determining&nbsp;uniqueness.<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'name'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'name'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">dedupe</span><span style="color: #007700">(</span><span style="color: #DD0000">'users'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'name'</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;The&nbsp;migrate&nbsp;module&nbsp;automatically&nbsp;converts&nbsp;date/time&nbsp;strings&nbsp;to&nbsp;UNIX&nbsp;timestamps.<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'created'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'posted'</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;TODO&nbsp;Add&nbsp;dedupe&nbsp;with&nbsp;custom&nbsp;replacement&nbsp;pattern.<br />
//&nbsp;&nbsp;&nbsp;&nbsp;$this-&gt;addFieldMapping('mail',&nbsp;'mail');<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'pass'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'password'</span><span style="color: #007700">);<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;Instead&nbsp;of&nbsp;mapping&nbsp;a&nbsp;source&nbsp;field&nbsp;to&nbsp;a&nbsp;destination&nbsp;field,&nbsp;you&nbsp;can<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;hardcode&nbsp;a&nbsp;default&nbsp;value.&nbsp;You&nbsp;can&nbsp;also&nbsp;use&nbsp;both&nbsp;together&nbsp;-&nbsp;if&nbsp;a&nbsp;default<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;value&nbsp;is&nbsp;provided&nbsp;in&nbsp;addition&nbsp;to&nbsp;a&nbsp;source&nbsp;field,&nbsp;the&nbsp;default&nbsp;value&nbsp;will<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;be&nbsp;applied&nbsp;to&nbsp;any&nbsp;rows&nbsp;where&nbsp;the&nbsp;source&nbsp;field&nbsp;is&nbsp;empty&nbsp;or&nbsp;NULL.<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'roles'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">defaultValue</span><span style="color: #007700">(</span><span style="color: #0000BB">2</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;Unmapped&nbsp;source&nbsp;fields<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #0000BB">NULL</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'nickname'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">issueGroup</span><span style="color: #007700">(</span><span style="color: #0000BB">t</span><span style="color: #007700">(</span><span style="color: #DD0000">'DNM'</span><span style="color: #007700">));<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;Unmapped&nbsp;destination&nbsp;fields<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;This&nbsp;is&nbsp;a&nbsp;shortcut&nbsp;you&nbsp;can&nbsp;use&nbsp;to&nbsp;mark&nbsp;several&nbsp;destination&nbsp;fields&nbsp;as&nbsp;DNM<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;at&nbsp;once<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addUnmigratedDestinations</span><span style="color: #007700">(array(</span><span style="color: #DD0000">'theme'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'signature'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'access'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'login'</span><span style="color: #007700">,<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'timezone'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'language'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'picture'</span><span style="color: #007700">));<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;Oops,&nbsp;we&nbsp;made&nbsp;a&nbsp;typo&nbsp;-&nbsp;this&nbsp;should&nbsp;have&nbsp;been&nbsp;'init'!&nbsp;If&nbsp;you&nbsp;have<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;migrate_ui&nbsp;enabled,&nbsp;look&nbsp;at&nbsp;the&nbsp;BeerUser&nbsp;info&nbsp;page&nbsp;-&nbsp;you'll&nbsp;see&nbsp;that&nbsp;it<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;displays&nbsp;a&nbsp;warning&nbsp;"int&nbsp;used&nbsp;as&nbsp;destination&nbsp;field&nbsp;in&nbsp;mapping&nbsp;but&nbsp;not&nbsp;in<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;list&nbsp;of&nbsp;destination&nbsp;fields",&nbsp;and&nbsp;also&nbsp;lists&nbsp;"1&nbsp;unmapped"&nbsp;under&nbsp;Destination,<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;where&nbsp;it&nbsp;highlights&nbsp;"init"&nbsp;as&nbsp;unmapped.<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'int'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">issueGroup</span><span style="color: #007700">(</span><span style="color: #0000BB">t</span><span style="color: #007700">(</span><span style="color: #DD0000">'DNM'</span><span style="color: #007700">));<br />
&nbsp;&nbsp;}<br />
}<br />
<br />
class&nbsp;</span><span style="color: #0000BB">BeerNodeMigration&nbsp;</span><span style="color: #007700">extends&nbsp;</span><span style="color: #0000BB">BasicExampleMigration&nbsp;</span><span style="color: #007700">{<br />
&nbsp;&nbsp;public&nbsp;function&nbsp;</span><span style="color: #0000BB">__construct</span><span style="color: #007700">()&nbsp;{<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">parent</span><span style="color: #007700">::</span><span style="color: #0000BB">__construct</span><span style="color: #007700">();<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">description&nbsp;</span><span style="color: #007700">=&nbsp;</span><span style="color: #0000BB">t</span><span style="color: #007700">(</span><span style="color: #DD0000">'Beers&nbsp;of&nbsp;the&nbsp;world'</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;You&nbsp;may&nbsp;optionally&nbsp;declare&nbsp;dependencies&nbsp;for&nbsp;your&nbsp;migration&nbsp;-&nbsp;other&nbsp;migrations<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;which&nbsp;should&nbsp;run&nbsp;first.&nbsp;In&nbsp;this&nbsp;case,&nbsp;terms&nbsp;assigned&nbsp;to&nbsp;our&nbsp;nodes&nbsp;and<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;the&nbsp;authors&nbsp;of&nbsp;the&nbsp;nodes&nbsp;should&nbsp;be&nbsp;migrated&nbsp;before&nbsp;the&nbsp;nodes&nbsp;themselves.<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">dependencies&nbsp;</span><span style="color: #007700">=&nbsp;array(</span><span style="color: #DD0000">'BeerTerm'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'BeerUser'</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">map&nbsp;</span><span style="color: #007700">=&nbsp;new&nbsp;</span><span style="color: #0000BB">MigrateSQLMap</span><span style="color: #007700">(</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">machineName</span><span style="color: #007700">,<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;array(<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'bid'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;array(<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'type'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'int'</span><span style="color: #007700">,<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'not&nbsp;null'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #0000BB">TRUE</span><span style="color: #007700">,<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'description'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'Beer&nbsp;ID.'</span><span style="color: #007700">,<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'alias'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'b'</span><span style="color: #007700">,<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;),<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">MigrateDestinationNode</span><span style="color: #007700">::</span><span style="color: #0000BB">getKeySchema</span><span style="color: #007700">()<br />
&nbsp;&nbsp;&nbsp;&nbsp;);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;We&nbsp;have&nbsp;a&nbsp;more&nbsp;complicated&nbsp;query.&nbsp;The&nbsp;Migration&nbsp;class&nbsp;fundamentally<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;depends&nbsp;on&nbsp;taking&nbsp;a&nbsp;single&nbsp;source&nbsp;row&nbsp;and&nbsp;turning&nbsp;it&nbsp;into&nbsp;a&nbsp;single<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;Drupal&nbsp;object,&nbsp;so&nbsp;how&nbsp;do&nbsp;we&nbsp;deal&nbsp;with&nbsp;zero&nbsp;or&nbsp;more&nbsp;terms&nbsp;attached&nbsp;to<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;each&nbsp;node?&nbsp;One&nbsp;way&nbsp;(demonstrated&nbsp;for&nbsp;MySQL)&nbsp;is&nbsp;to&nbsp;pull&nbsp;them&nbsp;into&nbsp;a&nbsp;single<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;comma-separated&nbsp;list.<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$query&nbsp;</span><span style="color: #007700">=&nbsp;</span><span style="color: #0000BB">db_select</span><span style="color: #007700">(</span><span style="color: #DD0000">'migrate_example_beer_node'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'b'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">fields</span><span style="color: #007700">(</span><span style="color: #DD0000">'b'</span><span style="color: #007700">,&nbsp;array(</span><span style="color: #DD0000">'bid'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'name'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'body'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'excerpt'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'aid'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'countries'</span><span style="color: #007700">,<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'image'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'image_alt'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'image_title'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'image_description'</span><span style="color: #007700">));<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$query</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">leftJoin</span><span style="color: #007700">(</span><span style="color: #DD0000">'migrate_example_beer_topic_node'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'tb'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'b.bid&nbsp;=&nbsp;tb.bid'</span><span style="color: #007700">);<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;Gives&nbsp;a&nbsp;single&nbsp;comma-separated&nbsp;list&nbsp;of&nbsp;related&nbsp;terms<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$query</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">groupBy</span><span style="color: #007700">(</span><span style="color: #DD0000">'tb.bid'</span><span style="color: #007700">);<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$query</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addExpression</span><span style="color: #007700">(</span><span style="color: #DD0000">'GROUP_CONCAT(tb.style)'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'terms'</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;By&nbsp;default,&nbsp;MigrateSourceSQL&nbsp;derives&nbsp;a&nbsp;count&nbsp;query&nbsp;from&nbsp;the&nbsp;main&nbsp;query&nbsp;-<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;but&nbsp;we&nbsp;can&nbsp;override&nbsp;it&nbsp;if&nbsp;we&nbsp;know&nbsp;a&nbsp;simpler&nbsp;way<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$count_query&nbsp;</span><span style="color: #007700">=&nbsp;</span><span style="color: #0000BB">db_select</span><span style="color: #007700">(</span><span style="color: #DD0000">'migrate_example_beer_node'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'b'</span><span style="color: #007700">);<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$count_query</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addExpression</span><span style="color: #007700">(</span><span style="color: #DD0000">'COUNT(bid)'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'cnt'</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;Passing&nbsp;the&nbsp;cache_counts&nbsp;option&nbsp;means&nbsp;the&nbsp;source&nbsp;count&nbsp;(shown&nbsp;in<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;drush&nbsp;migrate-status)&nbsp;will&nbsp;be&nbsp;cached&nbsp;-&nbsp;this&nbsp;can&nbsp;be&nbsp;very&nbsp;handy&nbsp;when<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;dealing&nbsp;with&nbsp;a&nbsp;slow&nbsp;source&nbsp;database.<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">source&nbsp;</span><span style="color: #007700">=&nbsp;new&nbsp;</span><span style="color: #0000BB">MigrateSourceSQL</span><span style="color: #007700">(</span><span style="color: #0000BB">$query</span><span style="color: #007700">,&nbsp;array(),&nbsp;</span><span style="color: #0000BB">$count_query</span><span style="color: #007700">,<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;array(</span><span style="color: #DD0000">'cache_counts'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #0000BB">TRUE</span><span style="color: #007700">));<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;Set&nbsp;up&nbsp;our&nbsp;destination&nbsp;-&nbsp;nodes&nbsp;of&nbsp;type&nbsp;migrate_example_beer<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">destination&nbsp;</span><span style="color: #007700">=&nbsp;new&nbsp;</span><span style="color: #0000BB">MigrateDestinationNode</span><span style="color: #007700">(</span><span style="color: #DD0000">'migrate_example_beer'</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;Mapped&nbsp;fields<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'title'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'name'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">description</span><span style="color: #007700">(</span><span style="color: #0000BB">t</span><span style="color: #007700">(</span><span style="color: #DD0000">'Mapping&nbsp;beer&nbsp;name&nbsp;in&nbsp;source&nbsp;to&nbsp;node&nbsp;title'</span><span style="color: #007700">));<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'sticky'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">description</span><span style="color: #007700">(</span><span style="color: #0000BB">t</span><span style="color: #007700">(</span><span style="color: #DD0000">'Should&nbsp;we&nbsp;default&nbsp;this&nbsp;to&nbsp;0&nbsp;or&nbsp;1?'</span><span style="color: #007700">))<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">issueGroup</span><span style="color: #007700">(</span><span style="color: #0000BB">t</span><span style="color: #007700">(</span><span style="color: #DD0000">'Client&nbsp;questions'</span><span style="color: #007700">))<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">issueNumber</span><span style="color: #007700">(</span><span style="color: #0000BB">765736</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">issuePriority</span><span style="color: #007700">(</span><span style="color: #0000BB">MigrateFieldMapping</span><span style="color: #007700">::</span><span style="color: #0000BB">ISSUE_PRIORITY_LOW</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;References&nbsp;to&nbsp;related&nbsp;objects&nbsp;(such&nbsp;as&nbsp;the&nbsp;author&nbsp;of&nbsp;the&nbsp;content)&nbsp;are<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;most&nbsp;likely&nbsp;going&nbsp;to&nbsp;be&nbsp;identifiers&nbsp;from&nbsp;the&nbsp;source&nbsp;data,&nbsp;not&nbsp;Drupal<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;identifiers&nbsp;(such&nbsp;as&nbsp;uids).&nbsp;You&nbsp;can&nbsp;use&nbsp;the&nbsp;mapping&nbsp;from&nbsp;the&nbsp;relevant<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;migration&nbsp;to&nbsp;translate&nbsp;from&nbsp;the&nbsp;old&nbsp;ID&nbsp;to&nbsp;the&nbsp;Drupal&nbsp;identifier.<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;Note&nbsp;that&nbsp;we&nbsp;also&nbsp;provide&nbsp;a&nbsp;default&nbsp;value&nbsp;of&nbsp;1&nbsp;-&nbsp;if&nbsp;the&nbsp;lookup&nbsp;fails&nbsp;to<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;find&nbsp;a&nbsp;corresponding&nbsp;uid&nbsp;for&nbsp;the&nbsp;aid,&nbsp;the&nbsp;owner&nbsp;will&nbsp;be&nbsp;the&nbsp;administrative<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;account.<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'uid'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'aid'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">sourceMigration</span><span style="color: #007700">(</span><span style="color: #DD0000">'BeerUser'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">defaultValue</span><span style="color: #007700">(</span><span style="color: #0000BB">1</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;This&nbsp;is&nbsp;a&nbsp;multi-value&nbsp;text&nbsp;field<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'field_migrate_example_country'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'countries'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">separator</span><span style="color: #007700">(</span><span style="color: #DD0000">'|'</span><span style="color: #007700">);<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;These&nbsp;are&nbsp;related&nbsp;terms,&nbsp;which&nbsp;by&nbsp;default&nbsp;will&nbsp;be&nbsp;looked&nbsp;up&nbsp;by&nbsp;name<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'Migrate&nbsp;Example&nbsp;Beer&nbsp;Styles'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'terms'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">separator</span><span style="color: #007700">(</span><span style="color: #DD0000">','</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$arguments&nbsp;</span><span style="color: #007700">=&nbsp;</span><span style="color: #0000BB">MigrateTextFieldHandler</span><span style="color: #007700">::</span><span style="color: #0000BB">arguments</span><span style="color: #007700">(array(</span><span style="color: #DD0000">'source_field'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'excerpt'</span><span style="color: #007700">));<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'body'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'body'</span><span style="color: #007700">);<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'teaser'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'excerpt'</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;Copy&nbsp;an&nbsp;image&nbsp;file,&nbsp;write&nbsp;DB&nbsp;record&nbsp;to&nbsp;files&nbsp;table,&nbsp;and&nbsp;save&nbsp;in&nbsp;Field&nbsp;storage.<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;Note&nbsp;we&nbsp;specify&nbsp;the&nbsp;source&nbsp;query&nbsp;fields&nbsp;that&nbsp;will&nbsp;map&nbsp;to&nbsp;the&nbsp;file&nbsp;alt/title/description<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;values.<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$arguments&nbsp;</span><span style="color: #007700">=&nbsp;</span><span style="color: #0000BB">MigrateFileFieldHandler</span><span style="color: #007700">::</span><span style="color: #0000BB">arguments</span><span style="color: #007700">(</span><span style="color: #0000BB">drupal_get_path</span><span style="color: #007700">(</span><span style="color: #DD0000">'module'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'migrate_example'</span><span style="color: #007700">),<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'file_copy'</span><span style="color: #007700">,&nbsp;</span><span style="color: #0000BB">FILE_EXISTS_RENAME</span><span style="color: #007700">,&nbsp;</span><span style="color: #0000BB">NULL</span><span style="color: #007700">,&nbsp;array(</span><span style="color: #DD0000">'source_field'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'image_alt'</span><span style="color: #007700">),<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;array(</span><span style="color: #DD0000">'source_field'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'image_title'</span><span style="color: #007700">),&nbsp;array(</span><span style="color: #DD0000">'source_field'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'image_description'</span><span style="color: #007700">));<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'field_migrate_example_image'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'image'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">arguments</span><span style="color: #007700">(</span><span style="color: #0000BB">$arguments</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;No&nbsp;unmapped&nbsp;source&nbsp;fields<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;Unmapped&nbsp;destination&nbsp;fields<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addUnmigratedDestinations</span><span style="color: #007700">(array(</span><span style="color: #DD0000">'name'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'created'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'changed'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'status'</span><span style="color: #007700">,<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'promote'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'revision'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'language'</span><span style="color: #007700">));<br />
&nbsp;&nbsp;}<br />
}<br />
<br />
class&nbsp;</span><span style="color: #0000BB">BeerCommentMigration&nbsp;</span><span style="color: #007700">extends&nbsp;</span><span style="color: #0000BB">BasicExampleMigration&nbsp;</span><span style="color: #007700">{<br />
&nbsp;&nbsp;public&nbsp;function&nbsp;</span><span style="color: #0000BB">__construct</span><span style="color: #007700">()&nbsp;{<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">parent</span><span style="color: #007700">::</span><span style="color: #0000BB">__construct</span><span style="color: #007700">();<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">description&nbsp;</span><span style="color: #007700">=&nbsp;</span><span style="color: #DD0000">'Comments&nbsp;about&nbsp;beers'</span><span style="color: #007700">;<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">dependencies&nbsp;</span><span style="color: #007700">=&nbsp;array(</span><span style="color: #DD0000">'BeerUser'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'BeerNode'</span><span style="color: #007700">);<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">map&nbsp;</span><span style="color: #007700">=&nbsp;new&nbsp;</span><span style="color: #0000BB">MigrateSQLMap</span><span style="color: #007700">(</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">machineName</span><span style="color: #007700">,<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;array(</span><span style="color: #DD0000">'cid'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;array(<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'type'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'int'</span><span style="color: #007700">,<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'not&nbsp;null'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #0000BB">TRUE</span><span style="color: #007700">,<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;),<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">MigrateDestinationComment</span><span style="color: #007700">::</span><span style="color: #0000BB">getKeySchema</span><span style="color: #007700">()<br />
&nbsp;&nbsp;&nbsp;&nbsp;);<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$query&nbsp;</span><span style="color: #007700">=&nbsp;</span><span style="color: #0000BB">db_select</span><span style="color: #007700">(</span><span style="color: #DD0000">'migrate_example_beer_comment'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'mec'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">fields</span><span style="color: #007700">(</span><span style="color: #DD0000">'mec'</span><span style="color: #007700">,&nbsp;array(</span><span style="color: #DD0000">'cid'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'cid_parent'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'name'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'mail'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'aid'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'body'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'bid'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'subject'</span><span style="color: #007700">))<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">orderBy</span><span style="color: #007700">(</span><span style="color: #DD0000">'cid_parent'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'ASC'</span><span style="color: #007700">);<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">source&nbsp;</span><span style="color: #007700">=&nbsp;new&nbsp;</span><span style="color: #0000BB">MigrateSourceSQL</span><span style="color: #007700">(</span><span style="color: #0000BB">$query</span><span style="color: #007700">);<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">destination&nbsp;</span><span style="color: #007700">=&nbsp;new&nbsp;</span><span style="color: #0000BB">MigrateDestinationComment</span><span style="color: #007700">(</span><span style="color: #DD0000">'comment_node_migrate_example_beer'</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;Mapped&nbsp;fields<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addSimpleMappings</span><span style="color: #007700">(array(</span><span style="color: #DD0000">'name'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'subject'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'mail'</span><span style="color: #007700">));<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'status'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">defaultValue</span><span style="color: #007700">(</span><span style="color: #0000BB">COMMENT_PUBLISHED</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;Map&nbsp;the&nbsp;incoming&nbsp;beer&nbsp;ID&nbsp;to&nbsp;the&nbsp;resulting&nbsp;Drupal&nbsp;nid<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'nid'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'bid'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">sourceMigration</span><span style="color: #007700">(</span><span style="color: #DD0000">'BeerNode'</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'uid'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'aid'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">sourceMigration</span><span style="color: #007700">(</span><span style="color: #DD0000">'BeerUser'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">defaultValue</span><span style="color: #007700">(</span><span style="color: #0000BB">0</span><span style="color: #007700">);<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'pid'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'cid_parent'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">sourceMigration</span><span style="color: #007700">(</span><span style="color: #DD0000">'BeerComment'</span><span style="color: #007700">)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;</span><span style="color: #0000BB">description</span><span style="color: #007700">(</span><span style="color: #DD0000">'Parent&nbsp;comment.'</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addFieldMapping</span><span style="color: #007700">(</span><span style="color: #DD0000">'comment'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'body'</span><span style="color: #007700">);<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #FF8000">//&nbsp;No&nbsp;unmapped&nbsp;source&nbsp;fields<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;Unmapped&nbsp;destination&nbsp;fields<br />
&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">addUnmigratedDestinations</span><span style="color: #007700">(array(</span><span style="color: #DD0000">'user_name'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'user_email'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'hostname'</span><span style="color: #007700">,<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'created'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'changed'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'thread'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'homepage'</span><span style="color: #007700">,&nbsp;</span><span style="color: #DD0000">'language'</span><span style="color: #007700">));<br />
&nbsp;&nbsp;}<br />
}<br />
</span>
</span>
</code>
