<pre>
<b>mvc@hesiode:.../d6.mvc.koumbit.org/sites/test2.demo.mvc.koumbit.org%</b> drush --filter=migrate
All commands in migrate: (migrate)
 migrate-fields-desti  List the fields available for mapping in a destination.
 nation (mfd)
 migrate-fields-sourc  List the fields available for mapping from a source.
 e (mfs)
 migrate-import (mi)   Perform one or more migration processes
 migrate-mappings      View information on all field mappings in a migration.
 (mm)
 migrate-reset-status  Reset a active migration's status to idle
 (mrs)
 migrate-rollback      Roll back the destination objects from a given migration
 (mr)
 migrate-status (ms)   List all migrations with current status.
 migrate-stop (mst)    Stop an active migration operation
 migrate-wipe (mw)     Delete all nodes from specified content types.

 <b>mvc@hesiode:.../d6.mvc.koumbit.org/sites/test2.demo.mvc.koumbit.org%</b> drush migrate-status
 Name                  Total  Imported  Unimported  Status  Last imported
 BeerTerm              3      0         3           Idle
 BeerUser              4      0         4           Idle
 BeerNode              3      0         3           Idle
 BeerComment           5      0         5           Idle
 WinePrep              N/A    N/A       N/A         Idle
 WineVariety           8      0         8           Idle
 WineRegion            12     0         12          Idle
 WineBestWith          3      0         3           Idle
 WineRole              2      0         2           Idle
 WineUser              3      0         3           Idle
 WineProducer          2      0         2           Idle
 WineProducerXML       1      0         1           Idle
 WineProducerMultiXML  2      0         2           Idle
 WineWine              2      0         2           Idle
 WineComment           5      0         5           Idle
 WineTable             3      0         3           Idle
 WineFinish            N/A    N/A       N/A         Idle
 WineUpdates           2      0         2           Idle
 WineCommentUpdates    5      0         5           Idle
 WineVarietyUpdates    8      0         8           Idle
 WineUserUpdates       3      0         3           Idle

<b>mvc@hesiode:.../d6.mvc.koumbit.org/sites/test2.demo.mvc.koumbit.org%</b> drush migrate-import --help
Perform a given migration

Examples:
 migrate-import Article                    Import new articles
 migrate-import Article --update           Import new items, and also update previously-imported items
 migrate-import Article --idlist=4,9       Import two specific articles. The ids refer to the value of the primary key in base table
 migrate-import Article --limit="60        Import for up to 60 seconds after stopping and rolling back the Article migration.
 seconds" --stop --rollback
 migrate-import Article --limit="100       Import up to 100 items from the migration named Article.
 items"
 migrate-import User --feedback="1000      Display a progress message every 1000 processed items or less
 items"
 migrate-import --all=User                 Perform User migrations and all that follow it.


Arguments:
 migration                                 Name of migration(s) to import. Delimit multiple using commas.


Options:
 --limit                                   Limit on the length of each migration process, expressed in seconds or number of items
 --feedback                                Frequency of progress messages, in seconds or items processed
 --idlist                                  A comma delimited list of ids to import or rollback. If unspecified, migrate imports all
                                           pending items or rolls back all items for the content set.
 --all                                     Process all migrations that come after the specified migration. If no value is supplied,
                                           all migrations are processed.
 --instrument                              Capture performance information (timer, memory, or all)
 --force                                   Force an operation to run, even if all dependencies are not satisfied
 --update                                  In addition to processing unimported items from the source, update previously-imported items
                                           with new data
 --needs-update                            Reimport up to 10K records where needs_update=1. This option is only needed when your Drupal
                                           DB is on a different DB server from your source data. Otherwise, these records get migrated
                                           with just migrate-import.
 --stop                                    Stop specified migration(s) if applicable.
 --rollback                                Rollback specified migration(s) if applicable.
 --file_function                           Override file function to use when migrating images.


Aliases: mi

<b>mvc@hesiode:.../d6.mvc.koumbit.org/sites/test2.demo.mvc.koumbit.org%</b> drush migrate-import BeerNode
Skipping migration BeerNode due to unfulfilled dependencies -                                                                <span style="color:yellow; background:red">[warning]</span>
              use the --force option to run it anyway

<b>mvc@hesiode:.../d6.mvc.koumbit.org/sites/test2.demo.mvc.koumbit.org%</b> drush migrate-import BeerTerm,BeerUser,BeerNode
Processed 3 (3 created, 0 updated, 0 failed, 0 ignored) in 0 sec (3737/min) - done with 'BeerTerm'                           <span style="color:yellow; background:red">[completed]</span>
Processed 4 (4 created, 0 updated, 0 failed, 0 ignored) in 0.1 sec (4297/min) - done with 'BeerUser'                         <span style="color:yellow; background:red">[completed]</span>
Processed 3 (3 created, 0 updated, 0 failed, 0 ignored) in 0.1 sec (2404/min) - done with 'BeerNode'                         <span style="color:yellow; background:red">[completed]</span>

<b>mvc@hesiode:.../d6.mvc.koumbit.org/sites/test2.demo.mvc.koumbit.org%</b> drush migrate-rollback BeerTerm,BeerUser,BeerNode
Rolled back 3 in 0.1 sec (1756/min) - done with 'BeerNode'                                                                   <span style="color:yellow; background:red">[completed]</span>
Rolled back 4 in 0 sec (6423/min) - done with 'BeerUser'                                                                     <span style="color:yellow; background:red">[completed]</span>
Rolled back 3 in 0 sec (4719/min) - done with 'BeerTerm'                                                                     <span style="color:yellow; background:red">[completed]</span>
Beer Boddington has been deleted.                                                                                            <span style="color:yellow; background:red">[status]</span>
Beer Miller Lite has been deleted.                                                                                           <span style="color:yellow; background:red">[status]</span>
Beer Heineken has been deleted.                                                                                              <span style="color:yellow; background:red">[status]</span>

<b>mvc@hesiode:.../d6.mvc.koumbit.org/sites/test2.demo.mvc.koumbit.org%</b> drush migrate-import BeerUser --idlist=1
Processed 1 (1 created, 0 updated, 0 failed, 0 ignored) in 1 sec (61/min) - done with 'BeerUser'                             <span style="color:yellow; background:red">[completed]</span>

<b>mvc@hesiode:.../d6.mvc.koumbit.org/sites/test2.demo.mvc.koumbit.org%</b> drush migrate-status
 Name                  Total  Imported  Unimported  Status  Last imported
 BeerUser              4      1         3           Idle    2011-12-08 03:16:48
 BeerTerm              3      0         3           Idle    2011-12-08 03:16:45
 BeerNode              3      0         3           Idle    2011-12-08 03:16:45
 BeerComment           5      0         5           Idle
 WinePrep              N/A    N/A       N/A         Idle
 WineBestWith          3      0         3           Idle
 WineRegion            12     0         12          Idle
 WineVariety           8      0         8           Idle
 WineRole              2      0         2           Idle
 WineUser              3      0         3           Idle
 WineProducerMultiXML  2      0         2           Idle
 WineProducerXML       1      0         1           Idle
 WineProducer          2      0         2           Idle
 WineWine              2      0         2           Idle
 WineComment           5      0         5           Idle
 WineTable             3      0         3           Idle
 WineFinish            N/A    N/A       N/A         Idle
 WineUpdates           2      0         2           Idle
 WineCommentUpdates    5      0         5           Idle
 WineUserUpdates       3      0         3           Idle
 WineVarietyUpdates    8      0         8           Idle

<b>mvc@hesiode:.../d6.mvc.koumbit.org/sites/test2.demo.mvc.koumbit.org%</b> drush migrate-fields-destination BeerNode
 Node: Existing node ID        nid
 Node: Authored by (uid)       uid
 Node: Modified (uid)          revision_uid
 Node: Created timestamp       created
 Node: Modified timestamp      changed
 Node: Body                    body
 Node: Teaser                  teaser
 Node: Published               status
 Node: Promoted to front page  promote
 Node: Sticky at top of lists  sticky
 Node: Create new revision     revision
 Node: Language (fr, en, ...)  language
 Node: Title                   title
 Node: Country (text)          field_migrate_example_country
 Node: Image (filefield)       field_migrate_example_image
 Node: Path alias              path
 Migrate Example Beer Styles   Migrate Example Beer Styles

<b>mvc@hesiode:.../d6.mvc.koumbit.org/sites/test2.demo.mvc.koumbit.org%</b> drush migrate-fields-source BeerNode
 b.bid                bid
 b.name               name
 b.body               body
 b.excerpt            excerpt
 b.aid                aid
 b.countries          countries
 b.image              image
 b.image_alt          image_alt
 b.image_title        image_title
 b.image_description  image_description
 terms                terms


<b>mvc@hesiode:.../d6.mvc.koumbit.org/sites/test2.demo.mvc.koumbit.org%</b> drush migrate-mappings BeerNode
 Destination                    Source     Default  Description
 --- CLIENT QUESTIONS ---
 sticky                                             Should we default this to 0 or 1?

 --- DONE ---
 title                          name                Mapping beer name in source to node title
 uid                            aid        1
 field_migrate_example_country  countries
 Migrate Example Beer Styles    terms
 body                           body
 teaser                         excerpt
 field_migrate_example_image    image

 --- DNM ---
 name
 created
 changed
 status
 promote
 revision
 language

<b>mvc@hesiode:.../d6.mvc.koumbit.org/sites/test2.demo.mvc.koumbit.org%</b>
</pre>
