<div><span style="font-family: Courier New; font-size: 10pt;">
<font color = "green"><i>&#45;&#45;</i></font>
<br/><font color = "green"><i>&#45;&#45;&nbsp;Table&nbsp;structure&nbsp;for&nbsp;table&nbsp;`migrate_example_beer_topic`</i></font>
<br/><font color = "green"><i>&#45;&#45;</i></font>
<br/>
<br/><font color = "blue">DROP</font>&nbsp;<font color = "blue">TABLE</font>&nbsp;<font color = "blue">IF</font>&nbsp;<font color = "blue">EXISTS</font>&nbsp;<font color = "maroon">`migrate_example_beer_topic`</font><font color = "silver">;</font>
<br/><font color = "blue">CREATE</font>&nbsp;<font color = "blue">TABLE</font>&nbsp;<font color = "maroon">`migrate_example_beer_topic`</font>&nbsp;<font color = "maroon">(</font>
<br/>&nbsp;&nbsp;<font color = "maroon">`style`</font>&nbsp;<font color = "black"><i>varchar</i></font><font color = "maroon">(</font><font color = "black">255</font><font color = "maroon">)</font>&nbsp;<font color = "blue">NOT</font>&nbsp;<font color = "blue">NULL</font><font color = "silver">,</font>
<br/>&nbsp;&nbsp;<font color = "maroon">`details`</font>&nbsp;<font color = "black"><i>varchar</i></font><font color = "maroon">(</font><font color = "black">255</font><font color = "maroon">)</font>&nbsp;<font color = "blue">DEFAULT</font>&nbsp;<font color = "blue">NULL</font><font color = "silver">,</font>
<br/>&nbsp;&nbsp;<font color = "maroon">`style_parent`</font>&nbsp;<font color = "black"><i>varchar</i></font><font color = "maroon">(</font><font color = "black">255</font><font color = "maroon">)</font>&nbsp;<font color = "blue">DEFAULT</font>&nbsp;<font color = "blue">NULL</font><font color = "silver">,</font>
<br/>&nbsp;&nbsp;<font color = "maroon">`region`</font>&nbsp;<font color = "black"><i>varchar</i></font><font color = "maroon">(</font><font color = "black">255</font><font color = "maroon">)</font>&nbsp;<font color = "blue">DEFAULT</font>&nbsp;<font color = "blue">NULL</font><font color = "silver">,</font>
<br/>&nbsp;&nbsp;<font color = "maroon">`hoppiness`</font>&nbsp;<font color = "black"><i>varchar</i></font><font color = "maroon">(</font><font color = "black">255</font><font color = "maroon">)</font>&nbsp;<font color = "blue">DEFAULT</font>&nbsp;<font color = "blue">NULL</font><font color = "silver">,</font>
<br/>&nbsp;&nbsp;<font color = "blue">PRIMARY</font>&nbsp;<font color = "blue">KEY</font>&nbsp;<font color = "maroon">(</font><font color = "maroon">`style`</font><font color = "maroon">)</font>
<br/><font color = "maroon">)</font>&nbsp;<font color = "blue">ENGINE</font><font color = "silver">=</font><font color = "maroon">MyISAM</font>&nbsp;<font color = "blue">DEFAULT</font>&nbsp;<font color = "blue">CHARSET</font><font color = "silver">=</font><font color = "maroon">utf8</font><font color = "silver">;</font>
<br/>
<br/><font color = "green"><i>&#45;&#45;</i></font>
<br/><font color = "green"><i>&#45;&#45;&nbsp;Dumping&nbsp;data&nbsp;for&nbsp;table&nbsp;`migrate_example_beer_topic`</i></font>
<br/><font color = "green"><i>&#45;&#45;</i></font>
<br/>
<br/>LOCK&nbsp;<font color = "blue">TABLES</font>&nbsp;<font color = "maroon">`migrate_example_beer_topic`</font>&nbsp;<font color = "blue">WRITE</font><font color = "silver">;</font>
<br/><font color = "blue">INSERT</font>&nbsp;<font color = "blue">INTO</font>&nbsp;<font color = "maroon">`migrate_example_beer_topic`</font>&nbsp;<font color = "blue">VALUES</font>&nbsp;<font color = "maroon">(</font><font color = "red">'ale'</font><font color = "silver">,</font><font color = "red">'traditional'</font><font color = "silver">,</font><font color = "red">''</font><font color = "silver">,</font><font color = "red">'Medieval&nbsp;British&nbsp;Isles'</font><font color = "silver">,</font><font color = "red">'Medium'</font><font color = "maroon">)</font><font color = "silver">;</font>
<br/><font color = "blue">INSERT</font>&nbsp;<font color = "blue">INTO</font>&nbsp;<font color = "maroon">`migrate_example_beer_topic`</font>&nbsp;<font color = "blue">VALUES</font>&nbsp;<font color = "maroon">(</font><font color = "red">'red&nbsp;ale'</font><font color = "silver">,</font><font color = "red">'colorful'</font><font color = "silver">,</font><font color = "red">'ale'</font><font color = "silver">,</font><font color = "red">''</font><font color = "silver">,</font><font color = "red">''</font><font color = "maroon">)</font><font color = "silver">;</font>
<br/><font color = "blue">INSERT</font>&nbsp;<font color = "blue">INTO</font>&nbsp;<font color = "maroon">`migrate_example_beer_topic`</font>&nbsp;<font color = "blue">VALUES</font>&nbsp;<font color = "maroon">(</font><font color = "red">'pilsner'</font><font color = "silver">,</font><font color = "red">'refreshing'</font><font color = "silver">,</font><font color = "red">''</font><font color = "silver">,</font><font color = "red">'Pilsen,&nbsp;Bohemia&nbsp;(now&nbsp;Czech&nbsp;Republic)'</font><font color = "silver">,</font><font color = "red">'Low'</font><font color = "maroon">)</font><font color = "silver">;</font>
<br/>UNLOCK&nbsp;<font color = "blue">TABLES</font><font color = "silver">;</font>
<br/>
</span></div>
