<div><span style="font-family: Courier New; font-size: 10pt;">
<font color = "green"><i>&#45;&#45;</i></font>
<br/><font color = "green"><i>&#45;&#45;&nbsp;Table&nbsp;structure&nbsp;for&nbsp;table&nbsp;`migrate_example_beer_node`</i></font>
<br/><font color = "green"><i>&#45;&#45;</i></font>
<br/>
<br/><font color = "blue">DROP</font>&nbsp;<font color = "blue">TABLE</font>&nbsp;<font color = "blue">IF</font>&nbsp;<font color = "blue">EXISTS</font>&nbsp;<font color = "maroon">`migrate_example_beer_node`</font><font color = "silver">;</font>
<br/><font color = "blue">CREATE</font>&nbsp;<font color = "blue">TABLE</font>&nbsp;<font color = "maroon">`migrate_example_beer_node`</font>&nbsp;<font color = "maroon">(</font>
<br/>&nbsp;&nbsp;<font color = "maroon">`bid`</font>&nbsp;<font color = "black"><i>int</i></font><font color = "maroon">(</font><font color = "black">11</font><font color = "maroon">)</font>&nbsp;<font color = "blue">NOT</font>&nbsp;<font color = "blue">NULL</font>&nbsp;<font color = "blue">AUTO_INCREMENT</font><font color = "silver">,</font>
<br/>&nbsp;&nbsp;<font color = "maroon">`name`</font>&nbsp;<font color = "black"><i>varchar</i></font><font color = "maroon">(</font><font color = "black">255</font><font color = "maroon">)</font>&nbsp;<font color = "blue">NOT</font>&nbsp;<font color = "blue">NULL</font><font color = "silver">,</font>
<br/>&nbsp;&nbsp;<font color = "maroon">`body`</font>&nbsp;<font color = "black"><i>varchar</i></font><font color = "maroon">(</font><font color = "black">255</font><font color = "maroon">)</font>&nbsp;<font color = "blue">DEFAULT</font>&nbsp;<font color = "blue">NULL</font><font color = "silver">,</font>
<br/>&nbsp;&nbsp;<font color = "maroon">`excerpt`</font>&nbsp;<font color = "black"><i>varchar</i></font><font color = "maroon">(</font><font color = "black">255</font><font color = "maroon">)</font>&nbsp;<font color = "blue">DEFAULT</font>&nbsp;<font color = "blue">NULL</font><font color = "silver">,</font>
<br/>&nbsp;&nbsp;<font color = "maroon">`countries`</font>&nbsp;<font color = "black"><i>varchar</i></font><font color = "maroon">(</font><font color = "black">255</font><font color = "maroon">)</font>&nbsp;<font color = "blue">DEFAULT</font>&nbsp;<font color = "blue">NULL</font><font color = "silver">,</font>
<br/>&nbsp;&nbsp;<font color = "maroon">`aid`</font>&nbsp;<font color = "black"><i>int</i></font><font color = "maroon">(</font><font color = "black">11</font><font color = "maroon">)</font>&nbsp;<font color = "blue">DEFAULT</font>&nbsp;<font color = "blue">NULL</font><font color = "silver">,</font>
<br/>&nbsp;&nbsp;<font color = "maroon">`image`</font>&nbsp;<font color = "black"><i>varchar</i></font><font color = "maroon">(</font><font color = "black">255</font><font color = "maroon">)</font>&nbsp;<font color = "blue">DEFAULT</font>&nbsp;<font color = "blue">NULL</font><font color = "silver">,</font>
<br/>&nbsp;&nbsp;<font color = "maroon">`image_alt`</font>&nbsp;<font color = "black"><i>varchar</i></font><font color = "maroon">(</font><font color = "black">255</font><font color = "maroon">)</font>&nbsp;<font color = "blue">DEFAULT</font>&nbsp;<font color = "blue">NULL</font><font color = "silver">,</font>
<br/>&nbsp;&nbsp;<font color = "maroon">`image_title`</font>&nbsp;<font color = "black"><i>varchar</i></font><font color = "maroon">(</font><font color = "black">255</font><font color = "maroon">)</font>&nbsp;<font color = "blue">DEFAULT</font>&nbsp;<font color = "blue">NULL</font><font color = "silver">,</font>
<br/>&nbsp;&nbsp;<font color = "maroon">`image_description`</font>&nbsp;<font color = "black"><i>varchar</i></font><font color = "maroon">(</font><font color = "black">255</font><font color = "maroon">)</font>&nbsp;<font color = "blue">DEFAULT</font>&nbsp;<font color = "blue">NULL</font><font color = "silver">,</font>
<br/>&nbsp;&nbsp;<font color = "blue">PRIMARY</font>&nbsp;<font color = "blue">KEY</font>&nbsp;<font color = "maroon">(</font><font color = "maroon">`bid`</font><font color = "maroon">)</font>
<br/><font color = "maroon">)</font>&nbsp;<font color = "blue">ENGINE</font><font color = "silver">=</font><font color = "maroon">MyISAM</font>&nbsp;<font color = "blue">AUTO_INCREMENT</font><font color = "silver">=</font><font color = "black">100000000</font>&nbsp;<font color = "blue">DEFAULT</font>&nbsp;<font color = "blue">CHARSET</font><font color = "silver">=</font><font color = "maroon">utf8</font><font color = "silver">;</font>
<br/>
<br/><font color = "green"><i>&#45;&#45;</i></font>
<br/><font color = "green"><i>&#45;&#45;&nbsp;Dumping&nbsp;data&nbsp;for&nbsp;table&nbsp;`migrate_example_beer_node`</i></font>
<br/><font color = "green"><i>&#45;&#45;</i></font>
<br/>
<br/>LOCK&nbsp;<font color = "blue">TABLES</font>&nbsp;<font color = "maroon">`migrate_example_beer_node`</font>&nbsp;<font color = "blue">WRITE</font><font color = "silver">;</font>
<br/><font color = "blue">INSERT</font>&nbsp;<font color = "blue">INTO</font>&nbsp;<font color = "maroon">`migrate_example_beer_node`</font>&nbsp;<font color = "blue">VALUES</font>&nbsp;<font color = "maroon">(</font><font color = "black">99999999</font><font color = "silver">,</font><font color = "red">'Heineken'</font><font color = "silver">,</font><font color = "red">'Blab&nbsp;Blah&nbsp;Blah&nbsp;Green'</font><font color = "silver">,</font><font color = "red">'Green'</font><font color = "silver">,</font><font color = "red">'Netherlands|Belgium'</font><font color = "silver">,</font><font color = "black">0</font><font color = "silver">,</font><font color = "red">'heineken.jpg'</font><font color = "silver">,</font><font color = "red">'Heinekin&nbsp;alt'</font><font color = "silver">,</font><font color = "red">'Heinekin&nbsp;title'</font><font color = "silver">,</font><font color = "red">'Heinekin&nbsp;description'</font><font color = "maroon">)</font><font color = "silver">;</font>
<br/><font color = "blue">INSERT</font>&nbsp;<font color = "blue">INTO</font>&nbsp;<font color = "maroon">`migrate_example_beer_node`</font>&nbsp;<font color = "blue">VALUES</font>&nbsp;<font color = "maroon">(</font><font color = "black">99999998</font><font color = "silver">,</font><font color = "red">'Miller&nbsp;Lite'</font><font color = "silver">,</font><font color = "red">'We&nbsp;love&nbsp;Miller&nbsp;Brewing'</font><font color = "silver">,</font><font color = "red">'Tasteless'</font><font color = "silver">,</font><font color = "red">'USA|Canada'</font><font color = "silver">,</font><font color = "black">1</font><font color = "silver">,</font><font color = "red">''</font><font color = "silver">,</font><font color = "red">''</font><font color = "silver">,</font><font color = "red">''</font><font color = "silver">,</font><font color = "red">''</font><font color = "maroon">)</font><font color = "silver">;</font>
<br/><font color = "blue">INSERT</font>&nbsp;<font color = "blue">INTO</font>&nbsp;<font color = "maroon">`migrate_example_beer_node`</font>&nbsp;<font color = "blue">VALUES</font>&nbsp;<font color = "maroon">(</font><font color = "black">99999997</font><font color = "silver">,</font><font color = "red">'Boddington'</font><font color = "silver">,</font><font color = "red">'English&nbsp;occassionally&nbsp;get&nbsp;something&nbsp;right'</font><font color = "silver">,</font><font color = "red">'A&nbsp;treat'</font><font color = "silver">,</font><font color = "red">'United&nbsp;Kingdom'</font><font color = "silver">,</font><font color = "black">1</font><font color = "silver">,</font><font color = "red">''</font><font color = "silver">,</font><font color = "red">''</font><font color = "silver">,</font><font color = "red">''</font><font color = "silver">,</font><font color = "red">''</font><font color = "maroon">)</font><font color = "silver">;</font>
<br/>UNLOCK&nbsp;<font color = "blue">TABLES</font><font color = "silver">;</font>
<br/>
</span></div>
