<code><span style="color: #000000">
<span style="color: #0000BB">&lt;?php<br /><br /></span><span style="color: #FF8000">/*<br />&nbsp;*&nbsp;You&nbsp;must&nbsp;implement&nbsp;hook_migrate_api(),&nbsp;setting&nbsp;the&nbsp;API&nbsp;level&nbsp;to&nbsp;2,&nbsp;for<br />&nbsp;*&nbsp;your&nbsp;migration&nbsp;classes&nbsp;to&nbsp;be&nbsp;recognized&nbsp;by&nbsp;the&nbsp;Migrate&nbsp;module.<br />&nbsp;*/<br /></span><span style="color: #007700">function&nbsp;</span><span style="color: #0000BB">migrate_example_migrate_api</span><span style="color: #007700">()&nbsp;{<br />&nbsp;&nbsp;</span><span style="color: #0000BB">$api&nbsp;</span><span style="color: #007700">=&nbsp;array(<br />&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'api'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #0000BB">2</span><span style="color: #007700">,<br />&nbsp;&nbsp;);<br />&nbsp;&nbsp;return&nbsp;</span><span style="color: #0000BB">$api</span><span style="color: #007700">;<br />}<br /></span>
</span>
</code>